/* @tailwind base; */
@tailwind components;
/* @tailwind utilities; */

html {
  scroll-behavior: smooth;
}

body {
  @apply dark:bg-black
}

*::-webkit-scrollbar {
  height: 6px; 
  width: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  @apply bg-black dark:bg-white;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  @apply bg-white dark:bg-black;
}

*::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

.__invert-select *::selection {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

.__invert-scroll-bar *::-webkit-scrollbar-thumb {
  @apply bg-white dark:bg-black;
  border-radius: 6px;
}
.__invert-scroll-bar *::-webkit-scrollbar-track {
  @apply bg-black dark:bg-white;
}

@layer components {
	label, p {
		@apply first-letter:capitalize;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply capitalize;
	}
}

@media screen and (min-width: 640px) {
  *, button, button:disabled {
    cursor: none;
  }
}


#__blury-bg {
  @apply bg-light dark:bg-dark;
  position: fixed;
  inset: 40vh 0px 0px 0px;
  z-index: -50;
  background-position: bottom; 
  background-size: 1500px;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

.__backdrop-unblur {
  @apply bg-light bg-white dark:bg-dark dark:bg-black;
  background-position: bottom; 
  background-size: 1500px;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

#__blury-bg #__blury-filter {
  position: absolute;
  inset: -100px -100px -100px -100px;
  opacity: 0;
  backdrop-filter: blur(30px);
}

